@namespace WebinarBlazorApp.Client.Components

@using Jobs.Models
@inject IModalService Modal

<li class="draggable" draggable="true" title="@JobModel.Description"
    @ondragstart="@(() => HandleDragStart(JobModel))"
    @ondblclick="@(() => DisplayJobDetails())">

    <p class="description">
        @JobModel.Description
    </p>

    <p class="last-updated">
        <small>Last Updated</small> @JobModel.LastUpdated.ToString("HH:mm.ss")
    </p>
</li>

@code {
    [CascadingParameter] JobsContainer Container { get; set; }
    [Parameter] public JobModel JobModel { get; set; }

    private void HandleDragStart(JobModel selectedJob)
    {
        Container.Payload = selectedJob;
    }

    void DisplayJobDetails()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(JobDetails.CurrentJob), JobModel);
        Modal.Show<JobDetails>("Task details", parameters);
    }
}